@import "tailwindcss";

@theme {
  /* font variables */
  --font-cinzel: "Cinzel", serif;
  --font-body: "Cormorant Garamond", serif;
  
  --color-blood: #8a0303;
  --color-abyss: #050505;
  --color-parchment: #d4c4a8;
}

body {
  background-color: var(--color-abyss);
  color: var(--color-parchment);
  font-family: var(--font-body);
}